/*=============================================
Colores para el adminstrador
==============================================*/

$admin-primary-color: #181f2c;
$admin-secondary-color: #0143a3;

/*=============================================
Colores para el apartado publico (tienda)
==============================================*/

$admin-primary-color: #181f2c;
$admin-secondary-color: #0143a3;

/*=============================================
Colores comunes
==============================================*/

$admin-primary-color: #181f2c;
$admin-secondary-color: #0143a3;